= link_to 'Пересчитать расписания', recalculate_timetables_path(),:method => :post , :data => { :confirm => 'Вы уверены что хотите очистить список и пересчитать ВСЕ расписания?' }

- unless @timetables.empty?
  %table
    %tr
      %th Версия
      %th Комментарий
      %th Ссылка
    - @timetables.each do |f|
      %tr
        %td=f.version
        %td=f.comment
        %td= link_to 'Смотреть', timetable_timetables_dtls_path(f)
  %div
    = link_to "Очистить список", delete_all_timetables_path(),:method => :post, :data => { :confirm => 'Вы уверены что хотите очистить список?' }
- else
  .empty Пустой список


-#%div
-#  %table
-#    %tr
-#      %th= 'РАСПИСАНИЕ'
-#      - (1..7).each do |day|
-#        %th= 'День № '+day.inspect
-#    - current_user.klasses.each do |klass|
-#      %tr
-#        %td= klass.name.inspect
-#        - (1..7).each do |day|
-#          %td
-#            %table
-#              %tr
-#                %th= '#'
-#                %th= 'Предмет'
-#                %th= 'Каб.'
-#                %th= 'Учитель'
-#              - (1..6).each do |lesson|
-#                %tr
-#                  %td= "#{lesson.inspect}."
-#                  %td= get_subject(@timeline_array, day, lesson, klass)
-#                  %td= get_room(@timeline_array, day, lesson, klass)
-#                  %td= get_teacher(@timeline_array, day, lesson, klass)

-#%div
-#  - unless @timeline_array.nil?
-#    -@timeline_array.each do |row|
-#      %div
-#        = "row => #{row.inspect}"
