= link_to 'Пересчитать расписания', recalculate_timetables_path(),:method => :post
%div
  %table
    %tr
      %th= 'РАСПИСАНИЕ'
      - (1..7).each do |day|
        %th= 'День № '+day.inspect
    - current_user.klasses.each do |klass|
      %tr
        %td= klass.name.inspect
        - (1..7).each do |day|
          %td
            %table
              %tr
                %th= '#'
                %th= 'lesson'
              - (1..6).each do |lesson|
                %tr
                  %td= "#{lesson.inspect}."
                  %td= get_subject(@timeline_array, day, lesson, klass)

%div
  - unless @timeline_array.nil?
    -@timeline_array.each do |row|
      %div
        = "row => #{row.inspect}"
