%h1= "Кабинет '#{@room.name unless @room.nil?}'"
- unless @room_subject_relations.empty?
  %table
    %tr
      %th Предмет
      %th
      %th
    - @room_subject_relations.each do |f|
      %tr
        %td=f.subject.name
        %td=link_to 'Удалить', f, :method => :delete, :data => {confirm: "Вы уверены?"}, :params => {rooms_id: @room.id}
  = link_to 'Удалить все предметы', delete_all_room_subject_relations_path(:params => {rooms_id: @room.id} ),:method => :post
- else
  .empty Пустой список
  = link_to 'Добавить все предметы', add_all_room_subject_relations_path(:params => {rooms_id: @room.id} ),:method => :post

= link_to 'Новый предмет', new_room_subject_relation_path(:params => {rooms_id: @room.id})