%h1= "Учитель '#{@teacher.fio unless @teacher.nil?}'"
- unless @teacher_klass_subject_relations.empty?
  %table
    %tr
      %th Класс
      %th Предмет
      %th
      %th
    - @teacher_klass_subject_relations.each do |f|
      %tr
        %td=f.klass.name
        %td=f.subject.name
        %td=link_to 'Удалить', f, :method => :delete, :data => {confirm: "Вы уверены?"}, :params => {teachers_id: @teacher.id}
  = link_to 'Удалить все классы', delete_all_teacher_klass_subject_relations_path(:params => {teachers_id: @teacher.id} ),:method => :post
- else
  .empty Пустой список
  = link_to 'Добавить все классы', add_all_teacher_klass_subject_relations_path(:params => {teachers_id: @teacher.id} ),:method => :post

= link_to 'Новый класс', new_teacher_klass_subject_relation_path(:params => {teachers_id: @teacher.id})
%div
  =link_to 'Назад к учителям', teachers_path()